/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans",sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
  color: #ff5c39;
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -.58px;
}

h2 {
  color: #000;
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  color: #373a3c;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.semibold {
  font-weight: 600;
}

/* override bootstrap */
.btn-primary {
    background-color: #ff5c39;
    border-color: #ff5c39;
}